<%#create a comment partial to display a collection of comments associated with a post
# reference http://guides.rubyonrails.org/getting_started.html#laying-down-the-ground-work  
#7 Refactoring 
7.1 Rendering Partial Collections
First, we will make a comment partial to extract showing all the comments for the post. Create the file app/views/comments/_comment.html.erb and put the following into it: %>

<p>
  <strong>Commenter:</strong>
  <%= comment.user %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>