#create a comment partial to display a collection of comments associated with a post
# reference http://guides.rubyonrails.org/getting_started.html#laying-down-the-ground-work  
#7 Refactoring
<p>
  <strong>User:</strong>
  <%= comment.user_id %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>