<% if @comment.destroyed %>
	$('#comment-' +<%= @comment.id %>).hide(); <%# this dynamically generates
the selector id using Ruby code.%>
	$('.js-comments-count').html("<%= @post.comments.count %> Comments");
<% else %>
	$('#comment-' +<%= @comment.id %>).prepend("<div class='alert alert-error'><%= flash[:error] %></div>");
<% end %>
