<div class="hero-unit">
  <h1>JMG Bloccit</h1>
  <p>Bloccit is a resource for sharing posts, links and comments with your friends!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>Live a Life of Wellness</h2>
    <p>More and more people are becoming aware that there is an alternative way to doing things. And when we can help people with that message then that's the REAL JOY!</p>
  </div>
  <div class="span4">
    <h2>Live a Life of Purpose</h2>
    <p>These products have inspired me and put me on a path that changed my life forever. And has started me on a very abundant life.
   	It's about sharing and about vision and it's about helping people making a difference in people's lives. There is nothing else in the world that gives you more satisfaction to see someone improving there lives... someone healing completely.t</p>
  </div>
  <div class="span4">
    <h2>Live a Very Abundant Life</h2>
    <p>Proude to associate with a company where integrity is #1 and the products are unsurpassed! There's a joy to know there are so many different people from so many walks of life and they really do care about their brothers and sisters on this planet.</p>
  </div>
</div>

